<section class="press_detail">
    <div class="container">
        <div class="press_detail__content">
            <div class="press_detail__left">
                <div class="press_detail__sticky_block">
                    <div class="press_detail__arrow"></div>
                    <div class="breadcrumbs">
                        <a href="/" class="breadcrumbs__link">главная</a>
                        <a href="/" class="breadcrumbs__link">пресс-центр</a>
                        <span class="breadcrumbs__link this--disabled">новостная</span>
                    </div>
                    <h2 class="press_detail__title">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                    </h2>
                    <div class="press_detail__date_block">
                        <div class="press_detail__date_day">3</div>
                        <div class="press_detail__date_month_year">апрель<br>
                            2023</div>
                    </div>
                </div>
            </div>
            <div class="press_detail__right">
                <div class="press_detail__img">
                    <img src="img/press/detail.jpg" alt="">
                </div>
                <div class="press_detail__label">Подпись к фото</div>
                <div class="press_detail__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                    Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur? Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem eum fugiat quo voluptas nulla pariatur?
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                    Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur? Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem eum fugiat quo voluptas nulla pariatur?
                </div>
            </div>
        </div>
    </div>
</section>