<section class="detail_top">
    <div class="container">
        <div class="detail_top__content">
            <div class="detail_top__left">
                <div class="detail_top__left_top">
                    <div class="detail_top__title_wr">
                        <h1 class="h1_title detail_top__title">ТКФ</h1>
                        <div class="detail_top__title_links">
                            <a href="#" class="detail_top__title_link icon_btn this--large this--secondary this--fill this--gray">
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                                    <path d="M14.9424 16.115L14.0574 17L9.05738 12L14.0574 7L14.9424 7.885L10.8274 12L14.9424 16.115Z" fill="#82919B"/>
                                </svg>
                            </a>
                            <a href="#" class="detail_top__title_link icon_btn this--large this--secondary this--fill this--gray">
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                                    <path d="M9 7.885L9.885 7L14.885 12L9.885 17L9 16.115L13.115 12L9 7.885Z" fill="#82919B"/>
                                </svg>
                            </a>
                        </div>
                    </div>
                    <div class="detail_top__subtitle">Толуол-ксилольная фракция</div>
                </div>
                <div class="detail_top__right_mobile">
                    <div class="detail_top__right_img_wr">
                        <div class="detail_top__right_img">
                            <img src="img/detail/top_img_4.png" alt="">
                        </div>
                    </div>
                </div>
                <div class="detail_top__left_bottom">
                    <div class="detail_top__left_bottom_title">Высший сорт<br> ГОСТ 14710-78</div>
                    <div class="detail_top__left_bottom_text">Это смесь ароматических углеводородов, которая образуется после выделения бензола из фракции БТК (бензол-толуол-ксилол). Фракция ТКФ включает в себя толуол, различные изомеры ксилола и ароматические углеводороды С9+. Бесцветная и легко воспламеняющаяся летучая жидкость с характерным запахом бензина. Растворим во многих органических растворителях и плохо растворим в воде.</div>
                    <div class="detail_top__left_bottom_btns">
                        <a href="#" class="detail_top__left_bottom_btn btn this--base this--large">Заказать</a>
                        <a href="#" class="detail_top__left_bottom_btn btn this--icon this--large this--secondary this--icon_before this--fill" download>
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                                <path d="M19 12V18.7083H5V12H3V18.7083C3 19.7625 3.9 20.625 5 20.625H19C20.1 20.625 21 19.7625 21 18.7083V12H19ZM13 12.6421L15.59 10.1696L17 11.5208L12 16.3125L7 11.5208L8.41 10.1696L11 12.6421V3.375H13V12.6421Z" fill="#82919B"/>
                            </svg>
                            паспорт продукции</a>
                    </div>
                </div>
            </div>
            <div class="detail_top__right">
                <div class="detail_top__right_img_wr">
                    <div class="detail_top__right_img">
                        <img src="img/detail/top_img_4.png" alt="">
                    </div>
                </div>
                <div class="detail_top__right_row">
                    <div class="detail_top__right_weight">
                        66<sup>т</sup>
                    </div>
                    <div class="detail_top__right_volume">
                        ЕМК 85,6 <sup><span>m<sup>3</sup></span></sup>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>