<section class="press_form">
    <img class="press_form__bg" src="img/press/press_form_bg.png" alt="">
    <img class="press_form__bg_mob" src="img/press/press_form_bg_mob.png" alt="">
    <div class="container">
        <div class="press_form__content active" data-content="form">
            <form class="press_form__form js_press_form" action="#" name="press_form__form">
                <h2 class="press_form__title">Подпишитесь на рассылку новостей</h2>
                <div class="press_form__input_wr">
                    <div class="press_form__input_placeholder">E-mail</div>
                    <input type="text" class="press_form__input js_press_form_input js_required_input js_eng_input">
                    <div class="press_form__input_message">Обязательно укажите ваш email</div>
                </div>
                <div class="press_form__bottom">
                    <button class="press_form__submit btn this--base this--large">Подписаться</button>
                    <div class="press_form__submit_text">Нажимая кнопку «Подписаться», вы соглашаетесь на обработку персональных данных.</div>
                </div>
            </form>
        </div>
        <div class="press_form__content" data-content="thanks">
            <h2 class="press_form__title this--thanks">Спасибо, что<br> подписались<br> на нашу рассылку</h2>
        </div>
    </div>
</section>