<section class="strategy about_strategy">
    <div class="container">
        <div class="strategy__content">
            <div class="strategy__tag">Стратегия</div>
            <h2 class="strategy__title h1_title">Стратегические цели</h2>
            <div class="strategy__slider swiper-container js_strategy_slider">
                <div class="strategy__slider_wrapper swiper-wrapper">
                    <div class="strategy__slider_slide swiper-slide">
                        <div class="strategy__card this--text">
                            <div class="strategy__card_text">Реализация проекта способствует достижению целей национальных проектов и развития нефтегазохимического комплекса России</div>
                        </div>
                    </div>
                    <div class="strategy__slider_slide swiper-slide">
                        <div class="strategy__card this--number">
                            <div class="strategy__card_text">Обеспечение рентабельности на инвестиционный капитал, в т.ч. за счет синергии от управления портфелем связанных видов бизнесов.</div>
                            <div class="strategy__card_num"><span>01</span>/04</div>
                            <div class="strategy__card_bg_img">
                                <svg xmlns="http://www.w3.org/2000/svg" width="197" height="224" viewBox="0 0 197 224" fill="none">
                                    <path d="M73.0671 72.8322L220 1V74.9244M73.0671 72.8322L1 35.87V108.748M73.0671 72.8322V147.454M73.0671 222.076V296L220 222.076V148.849M73.0671 222.076L1 181.626V108.748M73.0671 222.076L220 148.849M73.0671 222.076V147.454M220 148.849V74.9244M220 74.9244L73.0671 147.454M73.0671 147.454L1 108.748" stroke="white"/>
                                </svg>
                            </div>
                        </div>
                    </div>
                    <div class="strategy__slider_slide swiper-slide">
                        <div class="strategy__card this--image">
                            <div class="strategy__card_img">
                                <img src="img/about/about_strategy/img_1.jpg" alt="">
                            </div>
                        </div>
                    </div>
                    <div class="strategy__slider_slide swiper-slide">
                        <div class="strategy__card this--number">
                            <div class="strategy__card_text">Обеспечение качество продуктов нефтехимии, услуг, процессов и безопасность перевозок в соответствии с лучшими мировыми стандартами.</div>
                            <div class="strategy__card_num"><span>02</span>/04</div>
                        </div>
                    </div>
                    <div class="strategy__slider_slide swiper-slide">
                        <div class="strategy__card this--image">
                            <div class="strategy__card_img">
                                <img src="img/about/about_strategy/img_2.jpg" alt="">
                            </div>
                        </div>
                    </div>
                    <div class="strategy__slider_slide swiper-slide">
                        <div class="strategy__card this--number">
                            <div class="strategy__card_text">Обеспечение консультационно-технологической базы для новых высокотехнологичных разработок в сфере малотоннажной химии и внедрение их в производство.</div>
                            <div class="strategy__card_num"><span>03</span>/04</div>
                            <div class="strategy__card_bg_img">
                                <svg xmlns="http://www.w3.org/2000/svg" width="197" height="224" viewBox="0 0 197 224" fill="none">
                                    <path d="M73.0671 72.8322L220 1V74.9244M73.0671 72.8322L1 35.87V108.748M73.0671 72.8322V147.454M73.0671 222.076V296L220 222.076V148.849M73.0671 222.076L1 181.626V108.748M73.0671 222.076L220 148.849M73.0671 222.076V147.454M220 148.849V74.9244M220 74.9244L73.0671 147.454M73.0671 147.454L1 108.748" stroke="white"/>
                                </svg>
                            </div>
                        </div>
                    </div>
                    <div class="strategy__slider_slide swiper-slide">
                        <div class="strategy__card this--image">
                            <div class="strategy__card_img">
                                <img src="img/about/about_strategy/img_3.jpg" alt="">
                            </div>
                        </div>
                    </div>
                    <div class="strategy__slider_slide swiper-slide">
                        <div class="strategy__card this--number">
                            <div class="strategy__card_text">Обеспечение уровня корпоративного управления, соответствующего лучшим мировым стандартам.</div>
                            <div class="strategy__card_num"><span>04</span>/04</div>
                            <div class="strategy__card_bg_img">
                                <svg xmlns="http://www.w3.org/2000/svg" width="197" height="224" viewBox="0 0 197 224" fill="none">
                                    <path d="M73.0671 72.8322L220 1V74.9244M73.0671 72.8322L1 35.87V108.748M73.0671 72.8322V147.454M73.0671 222.076V296L220 222.076V148.849M73.0671 222.076L1 181.626V108.748M73.0671 222.076L220 148.849M73.0671 222.076V147.454M220 148.849V74.9244M220 74.9244L73.0671 147.454M73.0671 147.454L1 108.748" stroke="white"/>
                                </svg>
                            </div>
                        </div>
                    </div>
                    <div class="strategy__slider_slide swiper-slide">
                        <div class="strategy__card this--image">
                            <div class="strategy__card_img">
                                <img src="img/about/about_strategy/img_4.jpg" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>