<section class="press_block js_menu_anchor" id="press">
    <div class="container">
        <div class="press_block__content">
            <div class="press_block__top">
                <div class="press_block__tag">Пресс центр</div>
                <div class="press_block__group">
                    <a href="#" class="press_block__link btn this--large this--secondary this--desktop">Все новости</a>
                    <div class="press_block__slider_prev icon_btn this--large this--secondary this--fill">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                            <path d="M14.9424 16.115L14.0574 17L9.05738 12L14.0574 7L14.9424 7.885L10.8274 12L14.9424 16.115Z" fill="#82919B"/>
                        </svg>
                    </div>
                    <div class="press_block__slider_next icon_btn this--large this--base this--fill">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                            <path d="M9 7.885L9.885 7L14.885 12L9.885 17L9 16.115L13.115 12L9 7.885Z" fill="white"/>
                        </svg>
                    </div>
                </div>
            </div>
            <div class="press_block__slider swiper-container js_press_block_slider">
                <div class="press_block__slider_wrapper swiper-wrapper">
                    <div class="press_block__slider_slide swiper-slide">
                        <a href="#" class="press_block__item press_item">
                            <div class="press_item__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod</div>
                            <div class="press_item__bottom">
                                <div class="press_item__day">3</div>
                                <div class="press_item__month_year">
                                    апр<br>
                                    2023
                                </div>
                            </div>
                            <img src="img/main/press/color_bg.jpg" alt="" class="press_block__item_bg">
                        </a>
                    </div>
                    <div class="press_block__slider_slide swiper-slide">
                        <a href="#" class="press_block__item press_item">
                            <div class="press_item__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod</div>
                            <div class="press_item__bottom">
                                <div class="press_item__day">2</div>
                                <div class="press_item__month_year">
                                    апр<br>
                                    2023
                                </div>
                            </div>
                            <img src="img/main/press/black_white_bg.jpg" alt="" class="press_block__item_bg">
                        </a>
                    </div>
                    <div class="press_block__slider_slide swiper-slide">
                        <a href="#" class="press_block__item press_item">
                            <div class="press_item__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod</div>
                            <div class="press_item__bottom">
                                <div class="press_item__day">1</div>
                                <div class="press_item__month_year">
                                    апр<br>
                                    2023
                                </div>
                            </div>
                            <img src="img/main/press/color_bg.jpg" alt="" class="press_block__item_bg">
                        </a>
                    </div>
                    <div class="press_block__slider_slide swiper-slide">
                        <a href="#" class="press_block__item press_item">
                            <div class="press_item__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod</div>
                            <div class="press_item__bottom">
                                <div class="press_item__day">31</div>
                                <div class="press_item__month_year">
                                    мар<br>
                                    2023
                                </div>
                            </div>
                            <img src="img/main/press/black_white_bg.jpg" alt="" class="press_block__item_bg">
                        </a>
                    </div>
                </div>
            </div>
            <a href="#" class="press_block__link btn this--large this--secondary this--mobile">Все новости</a>
        </div>
    </div>
</section>