<section class="press_top">
    <img class="press_top__img_left" src="img/press/top_img_left.png" alt="">
    <img class="press_top__img_right" src="img/press/top_img_right.png" alt="">
    <img class="press_top__img_mob" src="img/contacts/top_img_mob.png" alt="">
    <img class="press_top__img_mob_right" src="img/press/top_img_mob_right.png" alt="">
    <div class="container">
        <div class="press_top__content">
            <div class="breadcrumbs this--wh">
                <a href="/" class="breadcrumbs__link">главная</a>
                <span class="breadcrumbs__link this--disabled">пресс-центр</span>
            </div>
            <h1 class="press_top__title h1_title">Пресс-центр</h1>
            <div class="press_top__row">
                <div class="press_top__left">
                    <div class="press_top__filters">
                        <a href="#" class="press_top__filter active btn this--large this--secondary">Новости</a>
                        <a href="#" class="press_top__filter btn this--large this--secondary">СМИ о нас</a>
                        <a href="#" class="press_top__filter btn this--large this--secondary">Отчеты и презентации</a>
                    </div>
                </div>
                <div class="press_top__right">
                    <div class="press_top__search">
                        <input type="text" class="press_top__search_input" placeholder="Поиск по новостям">
                        <button class="press_top__search_submit">
                            <svg xmlns="http://www.w3.org/2000/svg" width="25" height="24" viewBox="0 0 25 24" fill="none">
                                <path d="M16.2539 14.255H15.4639L15.1839 13.985C16.1639 12.845 16.7539 11.365 16.7539 9.755C16.7539 6.165 13.8439 3.255 10.2539 3.255C6.66391 3.255 3.75391 6.165 3.75391 9.755C3.75391 13.345 6.66391 16.255 10.2539 16.255C11.8639 16.255 13.3439 15.665 14.4839 14.685L14.7539 14.965V15.755L19.7539 20.745L21.2439 19.255L16.2539 14.255ZM10.2539 14.255C7.76391 14.255 5.75391 12.245 5.75391 9.755C5.75391 7.26501 7.76391 5.255 10.2539 5.255C12.7439 5.255 14.7539 7.26501 14.7539 9.755C14.7539 12.245 12.7439 14.255 10.2539 14.255Z" fill="white"/>
                            </svg>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>