<section class="about_top_second" id="about_top_second">
    <div class="container">
        <div class="about_top_second__content">
            <h2 class="about_top_second__title h2_title">Первая в России промышленная установка по переработке углеводородных газов</h2>
            <div class="about_top_second__text">В рамках проекта будет создана первая в России промышленная установка по переработке остаточных газов, получаемых в ходе крекинга нефти, в ароматические углеводороды - бензол, толуол и ксилольную фракцию. Технология инвестиционного проекта включена Правительством РФ в перечень современных технологий для целей заключения СПИК 2.0.</div>
        </div>
    </div>
    <div class="about_top_second__wrapper_img">
        <svg class="about_top_second__wrapper_img_svg this--desktop" xmlns="http://www.w3.org/2000/svg" width="1005" height="831" viewBox="0 0 1005 831" fill="none">
            <path class="svg_bg" d="M142 0H0V69L142 0Z" fill="#32B4DC"/>
            <path class="svg_bg" d="M1005 387L142 0H1005V387Z" fill="#32B4DC"/>
            <path class="svg_bg" d="M0 513V831H1005L142 444L0 513Z" fill="#32B4DC"/>
        </svg>
        <svg class="about_top_second__wrapper_img_svg this--mobile" xmlns="http://www.w3.org/2000/svg" width="375" height="334" viewBox="0 0 375 334" fill="none">
            <path class="svg_bg" d="M27 0H0V13L27 0Z" fill="#32B4DC"/>
            <path class="svg_bg" d="M375 156L27 0H375V156Z" fill="#32B4DC"/>
            <path class="svg_bg" d="M0 191V334H375L27 178L0 191Z" fill="#32B4DC"/>
        </svg>
        <div class="about_top_second__wrapper_img_container">
            <div class="about_top_second__wrapper_img_img">
                <img uk-parallax="y: -200" src="img/about/about_top_second/about_top_second_img.jpg" alt="">
            </div>
        </div>
    </div>
</section>