<section class="detail_scheme js_detail_scheme this--1">
    <div class="detail_scheme__cursor js_detail_scheme_cursor"></div>
    <div class="container">
        <div class="detail_scheme__content">
            <div class="detail_scheme__tag">Применение</div>
            <div class="detail_scheme__row">
                <h2 class="detail_scheme__title h1_title">Переработка бензола</h2>
                <div class="detail_scheme__text">Схема интерактивная, нажмите на блоки подсвечаные синим, чтобы узнать где применяется ароматические углеводороды</div>
            </div>
            <div class="detail_scheme__img_box">
                <div class="detail_scheme__img_wr">
                    <div class="detail_scheme__img">
                        <img src="img/detail/scheme_1.png" class="detail_scheme__img_scheme" alt="">
                        <div class="detail_scheme__target this--1 js_detail_scheme_target" data-id="1"></div>
                        <div class="detail_scheme__tooltip this--1 js_detail_scheme_tooltip" data-id="1">
                            <div class="detail_scheme__tooltip_img">
                                <img src="img/detail/tooltip_img.jpg" alt="">
                            </div>
                            <div class="detail_scheme__tooltip_text">Красители, пестициды, растворитель</div>
                        </div>
                        <div class="detail_scheme__target this--2 this--small js_detail_scheme_target" data-id="2"></div>
                        <div class="detail_scheme__tooltip this--2 js_detail_scheme_tooltip" data-id="2">
                            <div class="detail_scheme__tooltip_img">
                                <img src="img/detail/tooltip_img.jpg" alt="">
                            </div>
                            <div class="detail_scheme__tooltip_text">Красители, пестициды, растворитель</div>
                        </div>
                        <div class="detail_scheme__target this--3 this--small js_detail_scheme_target" data-id="3"></div>
                        <div class="detail_scheme__tooltip this--3 js_detail_scheme_tooltip" data-id="3">
                            <div class="detail_scheme__tooltip_img">
                                <img src="img/detail/tooltip_img.jpg" alt="">
                            </div>
                            <div class="detail_scheme__tooltip_text">Красители, пестициды, растворитель</div>
                        </div>
                        <div class="detail_scheme__target this--4 this--small js_detail_scheme_target" data-id="4"></div>
                        <div class="detail_scheme__tooltip this--4 js_detail_scheme_tooltip" data-id="4">
                            <div class="detail_scheme__tooltip_img">
                                <img src="img/detail/tooltip_img.jpg" alt="">
                            </div>
                            <div class="detail_scheme__tooltip_text">Красители, пестициды, растворитель</div>
                        </div>
                        <div class="detail_scheme__target this--5 this--small js_detail_scheme_target" data-id="5"></div>
                        <div class="detail_scheme__tooltip this--5 js_detail_scheme_tooltip" data-id="5">
                            <div class="detail_scheme__tooltip_img">
                                <img src="img/detail/tooltip_img.jpg" alt="">
                            </div>
                            <div class="detail_scheme__tooltip_text">Красители, пестициды, растворитель</div>
                        </div>
                        <div class="detail_scheme__target this--6 this--small js_detail_scheme_target" data-id="6"></div>
                        <div class="detail_scheme__tooltip this--6 js_detail_scheme_tooltip" data-id="6">
                            <div class="detail_scheme__tooltip_img">
                                <img src="img/detail/tooltip_img.jpg" alt="">
                            </div>
                            <div class="detail_scheme__tooltip_text">Красители, пестициды, растворитель</div>
                        </div>
                        <div class="detail_scheme__target this--7 js_detail_scheme_target" data-id="7"></div>
                        <div class="detail_scheme__tooltip this--7 js_detail_scheme_tooltip" data-id="7">
                            <div class="detail_scheme__tooltip_img">
                                <img src="img/detail/tooltip_img.jpg" alt="">
                            </div>
                            <div class="detail_scheme__tooltip_text">Красители, пестициды, растворитель</div>
                        </div>
                        <div class="detail_scheme__target this--8 js_detail_scheme_target" data-id="8"></div>
                        <div class="detail_scheme__tooltip this--8 js_detail_scheme_tooltip" data-id="8">
                            <div class="detail_scheme__tooltip_img">
                                <img src="img/detail/tooltip_img.jpg" alt="">
                            </div>
                            <div class="detail_scheme__tooltip_text">Красители, пестициды, растворитель</div>
                        </div>
                        <div class="detail_scheme__target this--9 this--small js_detail_scheme_target" data-id="9"></div>
                        <div class="detail_scheme__tooltip this--9 js_detail_scheme_tooltip" data-id="9">
                            <div class="detail_scheme__tooltip_img">
                                <img src="img/detail/tooltip_img.jpg" alt="">
                            </div>
                            <div class="detail_scheme__tooltip_text">Красители, пестициды, растворитель</div>
                        </div>
                        <div class="detail_scheme__target this--10 this--small js_detail_scheme_target" data-id="10"></div>
                        <div class="detail_scheme__tooltip this--10 js_detail_scheme_tooltip" data-id="10">
                            <div class="detail_scheme__tooltip_img">
                                <img src="img/detail/tooltip_img.jpg" alt="">
                            </div>
                            <div class="detail_scheme__tooltip_text">Красители, пестициды, растворитель</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>