<section class="main_map">
    <div class="container">
        <div class="main_map__content js_main_map_content">
            <div class="main_map__maps">
                <div class="main_map__maps_wr">
                    <div class="main_map__map this--one">
                        <img src="img/main/main_map/map_1.svg" alt="">
                    </div>
                    <div class="main_map__map this--two">
                        <img src="img/main/main_map/map_2.svg" alt="">
                    </div>
                </div>
            </div>
            <div class="main_map__title_wr">
                <div class="main_map__title this--one h1_title">№ 1 в России</div>
                <div class="main_map__title this--two h1_title">№ 1 в Башкирии</div>
            </div>
        </div>
    </div>
</section>