<section class="about_img_text">
    <div class="about_img_text__top">
        <img src="img/about/about_img_text/img.jpg" alt="">
    </div>
    <div class="about_img_text__bottom">
        <div class="container">
            <div class="about_img_text__text" uk-parallax="y: -160">
                <span>ФГ «ДоГа» осуществляет инвестиционную</span> деятельность при поддержке <img class="this--light" src="img/about/about_img_text/text_img.png" alt=""><img class="this--dark" src="img/about/about_img_text/text_img_dark.png" alt="">
            </div>
        </div>
    </div>
</section>