.about_img_text {
  padding-bottom: 117px;

  @media ($tablet) {
    padding-bottom: 80px;
  }
  @media ($tablet3) {
    padding-bottom: 40px;
  }
}
.about_img_text__top {
  padding-top: 34.5522%;
  position: relative;
  clip-path: polygon(0 0, 100% 0, 100% 55%, 0% 100%);

  @media ($tablet3) {
    padding-top: 54.133333%;
    clip-path: polygon(0 0, 100% 0, 100% 60%, 0% 100%);
  }

  img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
.about_img_text__bottom {
  margin-top: -96px;

  @media ($desktopBig) {
    margin-top: -40px;
  }
  @media ($desktop) {
    margin-top: 0;
  }
  @media ($tablet) {
    margin-top: 30px;
  }
}
.about_img_text__text {
  max-width: 785px;
  margin-left: auto;
  color: var(--text-color);
  font-size: 6.7rem;
  font-weight: 400;
  line-height: 1.16;
  transition: color 0.25s;

  @media ($desktopBig) {
    font-size: 5.4rem;
    max-width: 650px;
  }
  @media ($tablet) {
    font-size: 4.2rem;
    max-width: 550px;
  }
  @media ($mobile) {
    font-size: 2.6rem;
    max-width: none;
  }

  span {
    color: var(--grey-default);
  }

  img {
    width: 408px;
    margin-top: 9px;
    @media ($desktopBig) {
      width: 320px;
      margin-top: 7px;
    }
    @media ($tablet) {
      width: 270px;
      margin-top: 4px;
    }
    @media ($mobile) {
      width: 189px;
      margin-top: 1px;
    }
    &.this--dark {
      display: none;
    }
    .dark_theme & {
      &.this--dark {
        display: inline-block;
      }
      &.this--light {
        display: none;
      }
    }
  }
}