.contacts_form {
  display: flex;
  @media ($tablet) {
    display: block;
  }
}
.contacts_form__img {
  width: 39%;
  position: relative;

  @media ($tablet) {
    display: none;
  }

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
  }
}
.contacts_form__right {
  padding: 187px 0;
  width: 61%;

  @media ($tablet) {
    width: auto;
    padding: 100px 0;
  }

  @media ($tablet3) {
    padding: 50px 0 38px;
  }
}
.contacts_form__form {
  max-width: 800px;
  margin: 0 auto;
  padding: 0 50px;

  @media ($tablet) {
    padding: 0 30px;
  }
  @media ($tablet3) {
    padding: 0 24px;
  }
}
.contacts_form__tag {
  color: var(--text-color);
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.56;
  transition: color 0.25s;

  @media ($mobile) {
    font-size: 1.4rem;
    line-height: 1.25;
  }
}
.contacts_form__title {
  margin-top: 10px;

  @media ($mobile) {
    margin-top: 3px;
  }
}
.contacts_form__row {
  margin-top: 52px;
  display: flex;
  flex-wrap: wrap;
  margin-left: -90px;
  margin-bottom: -48px;

  @media ($tablet) {
    margin-bottom: -40px;
    margin-left: -50px;
    margin-top: 40px;
  }
  @media ($mobile) {
    margin-top: 31px;
    display: block;
    margin-left: 0;
    margin-bottom: -27px;
  }
}
.contacts_form__input_wr {
  width: calc(50% - 90px);
  margin-left: 90px;
  margin-bottom: 48px;
  position: relative;

  @media ($tablet) {
    margin-bottom: 40px;
    margin-left: 50px;
    width: calc(50% - 50px);
  }

  @media ($mobile) {
    margin-left: 0;
    margin-bottom: 27px;
    width: auto;
  }

  &.this--full {
    width: calc(100% - 90px);

    @media ($tablet) {
      width: calc(100% - 50px);
    }
    @media ($mobile) {
      width: auto;
    }
  }
}
.contacts_form__input_placeholder {
  color: var(--grey-default);
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.56;
  position: absolute;
  top: 25px;
  left: 0;
  transition: top 0.15s, color 0.25s;

  &.focus {
    top: 0;
  }
  &.error {
    color: #DC3232;
  }
}
.contacts_form__input {
  width: 100%;
  color: var(--text-color);
  background: transparent;
  padding: 25px 0 5px;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.56;
  border-bottom: 1px solid var(--grey-light);
  transition: border 0.25s;

  &:hover {
    @media #{$mouse-device} {
      border-bottom: 1px solid var(--grey-default);
    }
  }
  &:focus {
      border-bottom: 1px solid var(--blue-default) !important;
  }

  &.error {
    color: #DC3232;
    border-bottom: 1px solid #DC3232 !important;
  }

  &.error + .contacts_form__input_message {
    opacity: 1;
    visibility: visible;
  }
}
.contacts_form__input_message {
  position: absolute;
  bottom: -19px;
  color: #DE2727;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.25s, visibility 0.25s;
}
.contacts_form__bottom {
  margin-top: 65px;
  display: flex;
  align-items: center;

  @media ($mobile) {
    margin-top: 79px;
    display: block;
  }
}
.contacts_form__submit_text {
  margin-left: 34px;
  max-width: 326px;
  color: var(--grey-default);
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.25;

  @media ($mobile) {
    margin-left: 0;
    margin-top: 20px;
    font-size: 1.2rem;
  }
}
.contacts_form__submit {
  width: 176px;

  @media ($mobile) {
    width: 100%;
  }
}