<section class="contacts_form">
    <div class="contacts_form__img">
        <img src="img/contacts/form_img.jpg" alt="">
    </div>
    <div class="contacts_form__right">
        <form class="contacts_form__form js_contacts_form" action="#" name="contacts_form">
            <div class="contacts_form__tag">Форма обратной связи</div>
            <h2 class="contacts_form__title h1_title">Напишите нам</h2>
            <div class="contacts_form__row">
                <div class="contacts_form__input_wr">
                    <div class="contacts_form__input_placeholder">Фамилия Имя Отчество</div>
                    <input type="text" class="contacts_form__input js_contacts_form_input js_required_input">
                    <div class="contacts_form__input_message">Обязательно укажите ваши ФИО</div>
                </div>
                <div class="contacts_form__input_wr">
                    <div class="contacts_form__input_placeholder">Компания</div>
                    <input type="text" class="contacts_form__input js_contacts_form_input">
                </div>
                <div class="contacts_form__input_wr">
                    <div class="contacts_form__input_placeholder">E-mail</div>
                    <input type="text" class="contacts_form__input js_contacts_form_input js_required_input js_eng_input">
                    <div class="contacts_form__input_message">Обязательно укажите ваш email</div>
                </div>
                <div class="contacts_form__input_wr">
                    <div class="contacts_form__input_placeholder">Телефон</div>
                    <input type="tel" class="contacts_form__input js_contacts_form_input js_required_input js_tel_input">
                    <div class="contacts_form__input_message">Обязательно укажите ваш телефон</div>
                </div>
                <div class="contacts_form__input_wr this--full">
                    <div class="contacts_form__input_placeholder">Напишите нам о своих потребностях</div>
                    <input type="text" class="contacts_form__input js_contacts_form_input">
                </div>
            </div>
            <div class="contacts_form__bottom">
                <button class="contacts_form__submit btn this--base this--large">Отправить</button>
                <div class="contacts_form__submit_text">Нажимая кнопку «Отправить», вы соглашаетесь на обработку персональных данных.</div>
            </div>
        </form>
    </div>
</section>