<section class="press_catalog">
    <div class="container">
        <div class="press_catalog__content">
            <div class="press_catalog__cards">
                <a href="#" class="press_catalog__card press_item">
                    <div class="press_item__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod</div>
                    <div class="press_item__bottom">
                        <div class="press_item__day">3</div>
                        <div class="press_item__month_year">
                            апр<br>
                            2023
                        </div>
                    </div>
                    <img src="img/press/press_card_bg.jpg" alt="" class="press_block__item_bg">
                </a>
                <a href="#" class="press_catalog__card press_item">
                    <div class="press_item__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod</div>
                    <div class="press_item__bottom">
                        <div class="press_item__day">2</div>
                        <div class="press_item__month_year">
                            апр<br>
                            2023
                        </div>
                    </div>
                    <img src="img/press/press_card_bg.jpg" alt="" class="press_block__item_bg">
                </a>
                <a href="#" class="press_catalog__card press_item">
                    <div class="press_item__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod</div>
                    <div class="press_item__bottom">
                        <div class="press_item__day">1</div>
                        <div class="press_item__month_year">
                            апр<br>
                            2023
                        </div>
                    </div>
                    <img src="img/press/press_card_bg.jpg" alt="" class="press_block__item_bg">
                </a>
                <a href="#" class="press_catalog__card press_item">
                    <div class="press_item__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod</div>
                    <div class="press_item__bottom">
                        <div class="press_item__day">31</div>
                        <div class="press_item__month_year">
                            апр<br>
                            2023
                        </div>
                    </div>
                    <img src="img/press/press_card_bg.jpg" alt="" class="press_block__item_bg">
                </a>
                <a href="#" class="press_catalog__card press_item">
                    <div class="press_item__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod</div>
                    <div class="press_item__bottom">
                        <div class="press_item__day">30</div>
                        <div class="press_item__month_year">
                            апр<br>
                            2023
                        </div>
                    </div>
                    <img src="img/press/press_card_bg.jpg" alt="" class="press_block__item_bg">
                </a>
                <a href="#" class="press_catalog__card press_item">
                    <div class="press_item__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod</div>
                    <div class="press_item__bottom">
                        <div class="press_item__day">29</div>
                        <div class="press_item__month_year">
                            апр<br>
                            2023
                        </div>
                    </div>
                    <img src="img/press/press_card_bg.jpg" alt="" class="press_block__item_bg">
                </a>
                <a href="#" class="press_catalog__card press_item">
                    <div class="press_item__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod</div>
                    <div class="press_item__bottom">
                        <div class="press_item__day">28</div>
                        <div class="press_item__month_year">
                            апр<br>
                            2023
                        </div>
                    </div>
                    <img src="img/press/press_card_bg.jpg" alt="" class="press_block__item_bg">
                </a>
                <a href="#" class="press_catalog__card press_item">
                    <div class="press_item__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod</div>
                    <div class="press_item__bottom">
                        <div class="press_item__day">27</div>
                        <div class="press_item__month_year">
                            апр<br>
                            2023
                        </div>
                    </div>
                    <img src="img/press/press_card_bg.jpg" alt="" class="press_block__item_bg">
                </a>
                <a href="#" class="press_catalog__card press_item">
                    <div class="press_item__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod</div>
                    <div class="press_item__bottom">
                        <div class="press_item__day">26</div>
                        <div class="press_item__month_year">
                            апр<br>
                            2023
                        </div>
                    </div>
                    <img src="img/press/press_card_bg.jpg" alt="" class="press_block__item_bg">
                </a>
            </div>
            <div class="press_catalog__load_more">
                <a href="#" class="btn this--large this--secondary">Загрузить еще</a>
            </div>
        </div>
    </div>
</section>