<section class="tender_top">
    <img class="tender_top__img_left" src="img/press/top_img_left.png" alt="">
    <img class="tender_top__img_right" src="img/press/top_img_right.png" alt="">
    <img class="tender_top__img_mob" src="img/contacts/top_img_mob.png" alt="">
    <img class="tender_top__img_mob_right" src="img/press/top_img_mob_right.png" alt="">
    <div class="container">
        <div class="tender_top__content">
            <div class="breadcrumbs this--wh">
                <a href="/" class="breadcrumbs__link">главная</a>
                <span class="breadcrumbs__link this--disabled">тендер</span>
            </div>
            <h1 class="tender_top__title h1_title">Тендер</h1>
            <div class="tender_top__text">
                Уважаемые партнеры, компания «ДоГа» проводит закупки через ЭТП ТендерПро, предлагаем Вам рассмотреть возможность сотрудничества.
            </div>
        </div>
    </div>
</section>