<section class="main_scheme">
    <div class="container">
        <div class="main_scheme__content">
            <div class="main_scheme__tag">Схема</div>
            <div class="main_scheme__title h1_title">Технологическая схема производства</div>
            <div class="main_scheme__scheme">
                <div class="main_scheme__scheme_img">
                    <img class="scheme_light" src="img/main/main_scheme/scheme.png" alt="">
                    <img class="scheme_dark" src="img/main/main_scheme/scheme_dark.png" alt="">
                    <div class="main_scheme__scheme_label this--1">Установки</div>
                    <div class="main_scheme__scheme_label this--2">Сырье</div>
                    <div class="main_scheme__scheme_label this--3">Установка</div>
                    <div class="main_scheme__scheme_label this--4">Установка</div>
                    <div class="main_scheme__scheme_label this--5">Установка</div>
                    <div class="main_scheme__scheme_label this--6">Установка</div>
                    <div class="main_scheme__scheme_count this--1">50</div>
                    <div class="main_scheme__scheme_count this--2">70</div>
                    <div class="main_scheme__scheme_count this--3">25</div>
                    <div class="main_scheme__scheme_count this--4">33</div>
                    <div class="main_scheme__scheme_count this--5">17</div>
                    <div class="main_scheme__scheme_product this--1">Анилин</div>
                    <div class="main_scheme__scheme_product this--2">метанол</div>
                    <div class="main_scheme__scheme_product this--3">ксилолы</div>
                    <div class="main_scheme__scheme_product this--4">толуол</div>
                    <div class="main_scheme__scheme_product this--5">Бензол</div>
                </div>
            </div>
        </div>
    </div>
</section>