<section class="unique js_menu_anchor" id="about">
    <div class="container">
        <div class="unique__content">
            <div class="unique__left">
                <div class="unique__tag">о компании</div>
                <div class="unique__title_slider swiper-container js_unique_title_slider">
                    <div class="unique__title_slider_wrapper swiper-wrapper">
                        <div class="unique__title_slider_slide swiper-slide">
                            <h2 class="unique__title">Уникальные технологии</h2>
                        </div>
                        <div class="unique__title_slider_slide swiper-slide">
                            <h2 class="unique__title">Развитие химической отрасли</h2>
                        </div>
                        <div class="unique__title_slider_slide swiper-slide">
                            <h2 class="unique__title">Достижение национальных целей</h2>
                        </div>
                    </div>
                </div>
            </div>
            <div class="unique__right">
                <div class="unique__slider_controls">
                    <div class="unique__slider_pagination"></div>
                    <div class="unique__slider_btns">
                        <div class="unique__slider_prev icon_btn this--large this--secondary this--fill">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                                <path d="M14.9424 16.115L14.0574 17L9.05738 12L14.0574 7L14.9424 7.885L10.8274 12L14.9424 16.115Z" fill="#82919B"/>
                            </svg>
                        </div>
                        <div class="unique__slider_next icon_btn this--large this--base this--fill">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                                <path d="M9 7.885L9.885 7L14.885 12L9.885 17L9 16.115L13.115 12L9 7.885Z" fill="white"/>
                            </svg>
                        </div>
                    </div>
                </div>
                <div class="unique__slider swiper-container js_unique_slider">
                    <div class="unique__slider_wrapper swiper-wrapper">
                        <div class="unique__slider_slide swiper-slide">
                            <div class="unique__slider_text">
                                «ДоГа» - это высокомаржинальный технологический комплекс по выпуску ароматических соединений основанный на отечественной технологии, не имеющей аналогов в мире
                            </div>
                        </div>
                        <div class="unique__slider_slide swiper-slide">
                            <div class="unique__slider_text">
                                Создаем условия для развития малотоннажной химической отрасли в регионе, основанной на производстве различных ароматических соединений
                            </div>
                        </div>
                        <div class="unique__slider_slide swiper-slide">
                            <div class="unique__slider_text">
                                Современная амбициозная компания с широким штатом высококвалифицированных специалистов внедряет отечественные технологии в химическое производство способствуя достижению национальных целей развития
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>