<section class="products js_products js_menu_anchor" id="products">
    <div class="products__slider_btns">
        <div class="products__slider_prev icon_btn this--large this--secondary this--fill this--wh">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                <path d="M14.9424 16.115L14.0574 17L9.05738 12L14.0574 7L14.9424 7.885L10.8274 12L14.9424 16.115Z" fill="white"/>
            </svg>
        </div>
        <div class="products__slider_next icon_btn this--large this--secondary this--fill this--wh">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                <path d="M9 7.885L9.885 7L14.885 12L9.885 17L9 16.115L13.115 12L9 7.885Z" fill="white"></path>
            </svg>
        </div>
    </div>
    <div class="products__slider_pagination"></div>
    <div class="products_slide__bg">
        <div class="products_slide__bg_wr">
            <svg class="products_slide__bg_svg this--desktop" width="1920" height="561" viewBox="0 0 1920 561" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path class="svg_bg" d="M0 0H970.5H1920V24.4232L1867 0L1405.5 207.366L961 0V351.319L1405.5 561L1867 351.319L1920 376.015V561H0V0Z" fill="#82919B"/>
                <path class="svg_line" opacity="0.3" d="M941.5 351.002V0.784991L497.711 207.819L497.504 207.916L497.295 207.822L36.0026 0.549329L0.5 16.9094V367.309L35.7888 350.866L35.9974 350.769L36.2068 350.864L497.496 560.449L941.5 351.002Z" stroke="white"/>
            </svg>
            <div class="products_slide__bg_img">
                <div class="products_bg_img_slider swiper-container js_products_bg_img_slider">
                    <div class="products_bg_img_slider__wrapper swiper-wrapper">
                        <div class="products_bg_img_slider__slide swiper-slide">
                            <div class="products_second_bg_img_slider swiper-container js_products_second_bg_img_slider" data-id="1">
                                <div class="products_second_bg_img_slider__wrapper swiper-wrapper">
                                    <div class="products_second_bg_img_slider__slide swiper-slide">
                                        <img src="img/main/products/bg_1_1.jpg" alt="">
                                    </div>
                                    <div class="products_second_bg_img_slider__slide swiper-slide">
                                        <img src="img/main/products/bg_1_2.jpg" alt="">
                                    </div>
                                    <div class="products_second_bg_img_slider__slide swiper-slide">
                                        <img src="img/main/products/bg_1_3.jpg" alt="">
                                    </div>
                                    <div class="products_second_bg_img_slider__slide swiper-slide">
                                        <img src="img/main/products/bg_1_4.jpg" alt="">
                                    </div>
                                    <div class="products_second_bg_img_slider__slide swiper-slide">
                                        <img src="img/main/products/bg_1_5.jpg" alt="">
                                    </div>
                                    <div class="products_second_bg_img_slider__slide swiper-slide">
                                        <img src="img/main/products/bg_1_6.jpg" alt="">
                                    </div>
                                    <div class="products_second_bg_img_slider__slide swiper-slide">
                                        <img src="img/main/products/bg_1_7.jpg" alt="">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="products_bg_img_slider__slide swiper-slide">
                            <div class="products_second_bg_img_slider swiper-container js_products_second_bg_img_slider" data-id="2">
                                <div class="products_second_bg_img_slider__wrapper swiper-wrapper">
                                    <div class="products_second_bg_img_slider__slide swiper-slide">
                                        <img src="img/main/products/bg_1_2.jpg" alt="">
                                    </div>
                                    <div class="products_second_bg_img_slider__slide swiper-slide">
                                        <img src="img/main/products/bg_2_2.jpg" alt="">
                                    </div>
                                    <div class="products_second_bg_img_slider__slide swiper-slide">
                                        <img src="img/main/products/bg_2_3.jpg" alt="">
                                    </div>
                                    <div class="products_second_bg_img_slider__slide swiper-slide">
                                        <img src="img/main/products/bg_2_4.jpg" alt="">
                                    </div>
                                    <div class="products_second_bg_img_slider__slide swiper-slide">
                                        <img src="img/main/products/bg_2_5.jpg" alt="">
                                    </div>
                                    <div class="products_second_bg_img_slider__slide swiper-slide">
                                        <img src="img/main/products/bg_2_6.jpg" alt="">
                                    </div>
                                    <div class="products_second_bg_img_slider__slide swiper-slide">
                                        <img src="img/main/products/bg_2_7.jpg" alt="">
                                    </div>
                                    <div class="products_second_bg_img_slider__slide swiper-slide">
                                        <img src="img/main/products/bg_2_8.jpg" alt="">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="products_bg_img_slider__slide swiper-slide">
                            <div class="products_second_bg_img_slider swiper-container js_products_second_bg_img_slider" data-id="3">
                                <div class="products_second_bg_img_slider__wrapper swiper-wrapper">
                                    <div class="products_second_bg_img_slider__slide swiper-slide">
                                        <img src="img/main/products/bg_3_1.jpg" alt="">
                                    </div>
                                    <div class="products_second_bg_img_slider__slide swiper-slide">
                                        <img src="img/main/products/bg_1_2.jpg" alt="">
                                    </div>
                                    <div class="products_second_bg_img_slider__slide swiper-slide">
                                        <img src="img/main/products/bg_3_3.jpg" alt="">
                                    </div>
                                    <div class="products_second_bg_img_slider__slide swiper-slide">
                                        <img src="img/main/products/bg_3_4.jpg" alt="">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="products_bg_img_slider__slide swiper-slide">
                            <div class="products_second_bg_img_slider swiper-container js_products_second_bg_img_slider" data-id="4">
                                <div class="products_second_bg_img_slider__wrapper swiper-wrapper">
                                    <div class="products_second_bg_img_slider__slide swiper-slide">
                                        <img src="img/main/products/bg_1_2.jpg" alt="">
                                    </div>
                                    <div class="products_second_bg_img_slider__slide swiper-slide">
                                        <img src="img/main/products/bg_4_2.jpg" alt="">
                                    </div>
                                    <div class="products_second_bg_img_slider__slide swiper-slide">
                                        <img src="img/main/products/bg_3_3.jpg" alt="">
                                    </div>
                                    <div class="products_second_bg_img_slider__slide swiper-slide">
                                        <img src="img/main/products/bg_4_4.jpg" alt="">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="products__slider swiper-container js_products_slider">
        <div class="products__slider_wrapper swiper-wrapper">
            <div class="products__slider_slide products_slide swiper-slide">
                <div class="container">
                    <div class="products_slide__top">
                        <div class="products_slide__head">
                            <div class="products_slide__title">Наша продукция</div>
                        </div>
                        <div class="products_slide__body">
                            <div class="products_slide__name">Бензол</div>
                        </div>
                        <div class="products_slide__char">
                            Высший сорт по ГОСТ 9572-93
                        </div>
                    </div>
                </div>
                <div class="products_slide__bottom">
                    <div class="products_slide__img_wr">
                        <div class="products_slide__img">
                            <img src="img/main/products/img_1.png" alt="">
                        </div>
                    </div>
                    <div class="products_slide__second_slider products_second_slider swiper-container js_products_second_slider" data-id="1">
                        <div class="products_second_slider__wrapper swiper-wrapper">
                            <div class="products_second_slider__slide swiper-slide">
                                <div class="products_second_slider__content">
                                    <div class="products_second_slider__title">Применение продукта</div>
                                    <div class="products_second_slider__text">
                                        производство этилбензола (применяется в органическом синтезе) с последующей переработкой в стирол (сырье для производства различных полимеров, каучуков, пластиков и смол)
                                    </div>
                                </div>
                            </div>
                            <div class="products_second_slider__slide swiper-slide">
                                <div class="products_second_slider__content">
                                    <div class="products_second_slider__title">Применение продукта</div>
                                    <div class="products_second_slider__text">
                                        производство циклогексана (сырье для производства адипиновой кислоты, растворитель красок и лаков, экстрагент
                                        в фармацевтике) с последующей переработкой
                                        в капролактам (сырье для производства полиамидов, нейлона и полиуретанов)
                                    </div>
                                </div>
                            </div>
                            <div class="products_second_slider__slide swiper-slide">
                                <div class="products_second_slider__content">
                                    <div class="products_second_slider__title">Применение продукта</div>
                                    <div class="products_second_slider__text">
                                        производство кумола (добавка к моторному маслу и топливу) с последующей переработкой в фенол (сырье для производства фенолоформальдегидных смол, бисфенола А и капролактама)
                                    </div>
                                </div>
                            </div>
                            <div class="products_second_slider__slide swiper-slide">
                                <div class="products_second_slider__content">
                                    <div class="products_second_slider__title">Применение продукта</div>
                                    <div class="products_second_slider__text">
                                        производство нитробензола (применяется в производстве азобензола, бензидина, анилина)
                                    </div>
                                </div>
                            </div>
                            <div class="products_second_slider__slide swiper-slide">
                                <div class="products_second_slider__content">
                                    <div class="products_second_slider__title">Применение продукта</div>
                                    <div class="products_second_slider__text">
                                        производство линейных алкилбензолов (сырье для алкилбензолсульфокислот и сульфонола)
                                    </div>
                                </div>
                            </div>
                            <div class="products_second_slider__slide swiper-slide">
                                <div class="products_second_slider__content">
                                    <div class="products_second_slider__title">Применение продукта</div>
                                    <div class="products_second_slider__text">
                                        производство хлорбензола (используется
                                        в производстве пестицидов и различных органических синтезах)
                                    </div>
                                </div>
                            </div>
                            <div class="products_second_slider__slide swiper-slide">
                                <div class="products_second_slider__content">
                                    <div class="products_second_slider__title">Применение продукта</div>
                                    <div class="products_second_slider__text">
                                        в качестве растворителя при производстве резиновых изделий (шин, резиновых уплотнителей, прокладок) и лекарственных препаратов
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="products_second_slider__btns">
                            <div class="products_second_slider__prev icon_btn this--large this--secondary this--fill this--wh">
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                                    <path d="M14.9424 16.115L14.0574 17L9.05738 12L14.0574 7L14.9424 7.885L10.8274 12L14.9424 16.115Z" fill="white"/>
                                </svg>
                            </div>
                            <div class="products_second_slider__next icon_btn this--large this--base this--black this--fill">
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                                    <path d="M9 7.885L9.885 7L14.885 12L9.885 17L9 16.115L13.115 12L9 7.885Z" fill="white"></path>
                                </svg>
                            </div>
                        </div>
                        <div class="products_second_slider__pagination"></div>
                    </div>
                </div>
            </div>
            <div class="products__slider_slide products_slide swiper-slide">
                <div class="products_slide__top">
                    <div class="container">
                        <div class="products_slide__top_row">
                            <div class="products_slide__left">
                                <div class="products_slide__head">
                                    <div class="products_slide__title">Наша продукция</div>
                                </div>
                                <div class="products_slide__body">
                                    <div class="products_slide__name">Толуол</div>
                                </div>
                                <div class="products_slide__char">
                                    Высший сорт по ГОСТ 14710-78
                                </div>
                            </div>
                            <div class="products_slide__right"></div>
                        </div>
                    </div>
                </div>
                <div class="products_slide__bottom">
                    <div class="products_slide__img_wr">
                        <div class="products_slide__img">
                            <img src="img/main/products/img_2.png" alt="">
                        </div>
                    </div>
                    <div class="products_slide__second_slider products_second_slider swiper-container js_products_second_slider" data-id="2">
                        <div class="products_second_slider__wrapper swiper-wrapper">
                            <div class="products_second_slider__slide swiper-slide">
                                <div class="products_second_slider__content">
                                    <div class="products_second_slider__title">Применение продукта</div>
                                    <div class="products_second_slider__text">
                                        производство лакокрасочных материалов и растворителей
                                    </div>
                                </div>
                            </div>
                            <div class="products_second_slider__slide swiper-slide">
                                <div class="products_second_slider__content">
                                    <div class="products_second_slider__title">Применение продукта</div>
                                    <div class="products_second_slider__text">
                                        производство каучуков и других продуктов полимеризации
                                    </div>
                                </div>
                            </div>
                            <div class="products_second_slider__slide swiper-slide">
                                <div class="products_second_slider__content">
                                    <div class="products_second_slider__title">Применение продукта</div>
                                    <div class="products_second_slider__text">
                                        в синтезе нитросоединений для производства взрывчатых веществ
                                    </div>
                                </div>
                            </div>
                            <div class="products_second_slider__slide swiper-slide">
                                <div class="products_second_slider__content">
                                    <div class="products_second_slider__title">Применение продукта</div>
                                    <div class="products_second_slider__text">
                                        производство толуилендиизоцианата (ТДИ) для последующего производства эластичных полиуретанов (пенополиуретан, поролон, эластомеры, полиуретановые лаки, покрытия, герметики и т.д.). В России производство ТДИ полностью отсутствует
                                    </div>
                                </div>
                            </div>
                            <div class="products_second_slider__slide swiper-slide">
                                <div class="products_second_slider__content">
                                    <div class="products_second_slider__title">Применение продукта</div>
                                    <div class="products_second_slider__text">
                                        производство бензилхлорида (прекурсор к бензиловым эфирам, используются как пластификаторы, ароматизаторы и парфюмерия) с последующей переработкой в бензиловый спирт (сырье для производства различных полимеров, каучуков, пластиков и смол) и четвертичные аммониевые соли (бензилкваты) применяемые в производстве биоцидов, поверхностно-активных веществ и лекарственных препаратов. В России производство бензилхлорида полностью отсутствует
                                    </div>
                                </div>
                            </div>
                            <div class="products_second_slider__slide swiper-slide">
                                <div class="products_second_slider__content">
                                    <div class="products_second_slider__title">Применение продукта</div>
                                    <div class="products_second_slider__text">
                                        производство бензойной кислоты (применяется в пищевой и косметической индустрии в качестве консерванта Е-210, в органическом синтезе для производства бензоилхлорида и бензоатных пластификаторов и эфиров). В России производство бензойной кислоты полностью отсутствует
                                    </div>
                                </div>
                            </div>
                            <div class="products_second_slider__slide swiper-slide">
                                <div class="products_second_slider__content">
                                    <div class="products_second_slider__title">Применение продукта</div>
                                    <div class="products_second_slider__text">
                                        в качестве агента для удаления клея, смол и других органических соединений
                                    </div>
                                </div>
                            </div>
                            <div class="products_second_slider__slide swiper-slide">
                                <div class="products_second_slider__content">
                                    <div class="products_second_slider__title">Применение продукта</div>
                                    <div class="products_second_slider__text">
                                        используется в фармацевтической промышленности для производства лекарственных препаратов
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="products_second_slider__btns">
                            <div class="products_second_slider__prev icon_btn this--large this--secondary this--fill this--wh">
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                                    <path d="M14.9424 16.115L14.0574 17L9.05738 12L14.0574 7L14.9424 7.885L10.8274 12L14.9424 16.115Z" fill="white"/>
                                </svg>
                            </div>
                            <div class="products_second_slider__next icon_btn this--large this--base this--fill this--black">
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                                    <path d="M9 7.885L9.885 7L14.885 12L9.885 17L9 16.115L13.115 12L9 7.885Z" fill="white"></path>
                                </svg>
                            </div>
                        </div>
                        <div class="products_second_slider__pagination"></div>
                    </div>
                </div>
            </div>
            <div class="products__slider_slide products_slide swiper-slide">
                <div class="container">
                    <div class="products_slide__top">
                        <div class="products_slide__head">
                            <div class="products_slide__title">Наша продукция</div>
                        </div>
                        <div class="products_slide__body">
                            <div class="products_slide__name">Ксилолы</div>
                        </div>
                        <div class="products_slide__char">
                            Смесь изомеров по ГОСТ 9710-78
                        </div>
                    </div>
                </div>
                <div class="products_slide__bottom">
                    <div class="products_slide__img_wr">
                        <div class="products_slide__img">
                            <img src="img/main/products/img_3.png" alt="">
                        </div>
                    </div>
                    <div class="products_slide__second_slider products_second_slider swiper-container js_products_second_slider" data-id="3">
                        <div class="products_second_slider__wrapper swiper-wrapper">
                            <div class="products_second_slider__slide swiper-slide">
                                <div class="products_second_slider__content">
                                    <div class="products_second_slider__title">Применение продукта</div>
                                    <div class="products_second_slider__text">
                                        разделение ксилольной фракции на индивидуальные изомеры: параксилол (для производства терефталевой кислоты, диметилтерефталата и терефталоилхлорида), ортоксилол (для производства фталевого ангидрида), метаксилол (для производства изофталевой кислоты и изофталоилхлорида) и этилбензол (для производства стирола)
                                    </div>
                                </div>
                            </div>
                            <div class="products_second_slider__slide swiper-slide">
                                <div class="products_second_slider__content">
                                    <div class="products_second_slider__title">Применение продукта</div>
                                    <div class="products_second_slider__text">
                                        производство лакокрасочных материалов и растворителей
                                    </div>
                                </div>
                            </div>
                            <div class="products_second_slider__slide swiper-slide">
                                <div class="products_second_slider__content">
                                    <div class="products_second_slider__title">Применение продукта</div>
                                    <div class="products_second_slider__text">
                                        в качестве растворителя в производстве пластмасс, резиновых изделий, фармацевтических препаратов и других промышленных продуктов
                                    </div>
                                </div>
                            </div>
                            <div class="products_second_slider__slide swiper-slide">
                                <div class="products_second_slider__content">
                                    <div class="products_second_slider__title">Применение продукта</div>
                                    <div class="products_second_slider__text">
                                        в бытовом применении в качестве растворителя используют для обрабатывания и обезжиривания различных поверхностей и разбавления густых лаков и красок, для укрепление бетонных конструкций.
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="products_second_slider__btns">
                            <div class="products_second_slider__prev icon_btn this--large this--secondary this--fill this--wh">
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                                    <path d="M14.9424 16.115L14.0574 17L9.05738 12L14.0574 7L14.9424 7.885L10.8274 12L14.9424 16.115Z" fill="white"/>
                                </svg>
                            </div>
                            <div class="products_second_slider__next icon_btn this--large this--base this--fill this--black">
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                                    <path d="M9 7.885L9.885 7L14.885 12L9.885 17L9 16.115L13.115 12L9 7.885Z" fill="white"></path>
                                </svg>
                            </div>
                        </div>
                        <div class="products_second_slider__pagination"></div>
                    </div>
                </div>
            </div>
            <div class="products__slider_slide products_slide swiper-slide">
                <div class="products_slide__top">
                    <div class="container">
                        <div class="products_slide__top_row">
                            <div class="products_slide__left">
                                <div class="products_slide__head">
                                    <div class="products_slide__title">Наша продукция</div>
                                </div>
                                <div class="products_slide__body">
                                    <div class="products_slide__name">ТКФ</div>
                                </div>
                                <div class="products_slide__char">
                                    Толуол-ксилольная фракция
                                </div>
                            </div>
                            <div class="products_slide__right"></div>
                        </div>
                    </div>
                </div>
                <div class="products_slide__bottom">
                    <div class="products_slide__img_wr">
                        <div class="products_slide__img">
                            <img src="img/main/products/img_4.png" alt="">
                        </div>
                    </div>
                    <div class="products_slide__second_slider products_second_slider swiper-container js_products_second_slider" data-id="4">
                        <div class="products_second_slider__wrapper swiper-wrapper">
                            <div class="products_second_slider__slide swiper-slide">
                                <div class="products_second_slider__content">
                                    <div class="products_second_slider__title">Применение продукта</div>
                                    <div class="products_second_slider__text">
                                        производство лакокрасочных материалов и растворителей
                                    </div>
                                </div>
                            </div>
                            <div class="products_second_slider__slide swiper-slide">
                                <div class="products_second_slider__content">
                                    <div class="products_second_slider__title">Применение продукта</div>
                                    <div class="products_second_slider__text">
                                        в качестве высокооктановой добавки в нефтехимической промышленности
                                    </div>
                                </div>
                            </div>
                            <div class="products_second_slider__slide swiper-slide">
                                <div class="products_second_slider__content">
                                    <div class="products_second_slider__title">Применение продукта</div>
                                    <div class="products_second_slider__text">
                                        в качестве растворителя в производстве пластмасс, резиновых изделий и каучука, фармацевтических и парфюмерных продуктах, а также в производстве других промышленных продуктов
                                    </div>
                                </div>
                            </div>
                            <div class="products_second_slider__slide swiper-slide">
                                <div class="products_second_slider__content">
                                    <div class="products_second_slider__title">Применение продукта</div>
                                    <div class="products_second_slider__text">
                                        во многих применениях является аналогом нефтяного сольвента и фракции ароматических углеводородов (ФАУ)
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="products_second_slider__btns">
                            <div class="products_second_slider__prev icon_btn this--large this--secondary this--fill this--wh">
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                                    <path d="M14.9424 16.115L14.0574 17L9.05738 12L14.0574 7L14.9424 7.885L10.8274 12L14.9424 16.115Z" fill="white"/>
                                </svg>
                            </div>
                            <div class="products_second_slider__next icon_btn this--large this--base this--fill this--black">
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                                    <path d="M9 7.885L9.885 7L14.885 12L9.885 17L9 16.115L13.115 12L9 7.885Z" fill="white"></path>
                                </svg>
                            </div>
                        </div>
                        <div class="products_second_slider__pagination"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
