<section class="about_top">
    <div class="container">
        <div class="about_top__content">
            <div class="breadcrumbs this--wh">
                <a href="/" class="breadcrumbs__link">главная</a>
                <span class="breadcrumbs__link this--disabled">о компании</span>
            </div>
            <h1 class="about_top__title h1_title">О компании</h1>
            <div class="about_top__subtitle">
                Инновационное производство ароматических соединений, основанное на отечественной технологии, не имеющей аналогов в мире
            </div>
            <a href="#about_top_second" class="about_top__btn icon_btn this--large this--base this--fill">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                    <path d="M16.115 8.99976L17 9.88476L12 14.8848L7 9.88476L7.885 8.99976L12 13.1148L16.115 8.99976Z" fill="white"/>
                </svg>
            </a>
        </div>
    </div>
    <div class="about_top__wrapper_img">
        <svg class="about_top__wrapper_img_svg this--desktop" width="1086" height="607" viewBox="0 0 1086 607" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path class="svg_bg" d="M1085 0H0L444.5 224L917.5 3L1085 87.4185V0Z" fill="#32B4DC"/>
            <path class="svg_bg" d="M1085 468.491L917.5 383.5L444.5 606L0 379.5V606H444.5H1085V468.491Z" fill="#32B4DC"/>
            <path opacity="0.4" d="M1085 468.999L917.5 384.058M917.5 384.058L444.5 606.5M917.5 384.058L917.5 606" stroke="white"/>
        </svg>
        <svg class="about_top__wrapper_img_svg this--mobile" width="377" height="304" viewBox="0 0 377 304" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path class="svg_bg" d="M376 0H0L231.445 107.327L376 40.2533V0Z" fill="#32B4DC"/>
            <path class="svg_bg" d="M376 236.471L231.445 304L1 187.386V304H231.445H376V236.471Z" fill="#32B4DC"/>
            <path class="svg_line" opacity="0.7" d="M26 266.5V85M26 266.5L1 255.54M26 266.5L376 116.812" stroke="white"/>
        </svg>
        <div class="about_top__wrapper_img_container">
            <div class="about_top__wrapper_img_img">
                <img uk-parallax="y: -140" src="img/about/about_top/about_top.jpg" alt="">
            </div>
        </div>
    </div>
</section>