<section class="about_development">
    <div class="container">
        <div class="about_development__content">
            <div class="about_development__left">
                <div class="about_development__sticky_block">
                    <div class="about_development__arrow"></div>
                    <h2 class="about_development__title h1_title">Устойчивое развитие компании.</h2>
                    <div class="about_development__text">С момента своего основания ФГ «ДоГа» руководствуется принципами ответственного подхода к ведению бизнеса, способствует достижению национального устойчивого развития.</div>
                </div>
            </div>
            <div class="about_development__right">
                <div class="about_development__items">
                    <div class="about_development__item js_about_development_item">
                        <div class="about_development__item_back">
                            <img src="img/about/about_development/back_1.jpg" alt="">
                            <div class="about_development__item_back_text"><p>В Компании регулярно реализуются мероприятия по управлению рисками, создающими угрозы для устойчивого развития компании, в том числе проведение стресс-тестирования, разработке планов непрерывности бизнеса и страхования. Проводится идентификация, оценка рисков и разработка мероприятий по управлению рисками на всех уровнях корпоративного управления. Для описания рисков в компании применяются карты рисков, систематизирующие риски всех бизнес-процессов и направлений деятельности компании, которые могут создать угрозы для достижения целей компании с горизонтом планирования от одного до трех лет.</p></div>
                        </div>
                        <div class="about_development__item_front">
                            <div class="about_development__item_front_title">Управление устойчивым развитием</div>
                            <div class="about_development__item_front_text">Управление вопросами устойчивого развития является неотъемлемой частью корпоративной системы управления ФГ «ДоГа».</div>
                            <img src="img/about/about_development/front_1.jpg" alt="">
                        </div>
                        <button class="about_development__item_btn js_about_development_item_btn">
                            <svg class="this--hide" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                                <path d="M12 6.5C15.79 6.5 19.17 8.63 20.82 12C19.17 15.37 15.79 17.5 12 17.5C8.21 17.5 4.83 15.37 3.18 12C4.83 8.63 8.21 6.5 12 6.5ZM12 4.5C7 4.5 2.73 7.61 1 12C2.73 16.39 7 19.5 12 19.5C17 19.5 21.27 16.39 23 12C21.27 7.61 17 4.5 12 4.5ZM12 9.5C13.38 9.5 14.5 10.62 14.5 12C14.5 13.38 13.38 14.5 12 14.5C10.62 14.5 9.5 13.38 9.5 12C9.5 10.62 10.62 9.5 12 9.5ZM12 7.5C9.52 7.5 7.5 9.52 7.5 12C7.5 14.48 9.52 16.5 12 16.5C14.48 16.5 16.5 14.48 16.5 12C16.5 9.52 14.48 7.5 12 7.5Z" fill="#32B4DC"/>
                            </svg>
                            <svg class="this--show" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                                <path d="M12 5.55C15.79 5.55 19.17 7.68 20.82 11.05C20.23 12.27 19.4 13.32 18.41 14.17L19.82 15.58C21.21 14.35 22.31 12.81 23 11.05C21.27 6.66 17 3.55 12 3.55C10.73 3.55 9.51 3.75 8.36 4.12L10.01 5.77C10.66 5.64 11.32 5.55 12 5.55ZM10.93 6.69L13 8.76C13.57 9.01 14.03 9.47 14.28 10.04L16.35 12.11C16.43 11.77 16.49 11.41 16.49 11.04C16.5 8.56 14.48 6.55 12 6.55C11.63 6.55 11.28 6.6 10.93 6.69ZM2.01 3.42L4.69 6.1C3.06 7.38 1.77 9.08 1 11.05C2.73 15.44 7 18.55 12 18.55C13.52 18.55 14.98 18.26 16.32 17.73L19.74 21.15L21.15 19.74L3.42 2L2.01 3.42ZM9.51 10.92L12.12 13.53C12.08 13.54 12.04 13.55 12 13.55C10.62 13.55 9.5 12.43 9.5 11.05C9.5 11 9.51 10.97 9.51 10.92ZM6.11 7.52L7.86 9.27C7.63 9.82 7.5 10.42 7.5 11.05C7.5 13.53 9.52 15.55 12 15.55C12.63 15.55 13.23 15.42 13.77 15.19L14.75 16.17C13.87 16.41 12.95 16.55 12 16.55C8.21 16.55 4.83 14.42 3.18 11.05C3.88 9.62 4.9 8.44 6.11 7.52Z" fill="#32B4DC"/>
                            </svg>
                        </button>
                    </div>
                    <div class="about_development__item js_about_development_item">
                        <div class="about_development__item_back">
                            <img src="img/about/about_development/back_2.jpg" alt="">
                            <div class="about_development__item_back_text">
                                <p>ФГ «ДоГа» в своей деятельности руководствуется следующими принципами:</p>
                                <ul>
                                    <li>- повышение промышленной и экологической безопасности опасных производственных объектов за счет обеспечения надежной и безаварийной работы технологического оборудования, внедрения эффективных методов технической диагностики оборудования;</li>
                                    <li>- идентификация, оценка и снижение промышленных опасностей и рисков;</li>
                                    <li>- повышение эффективности контроля соблюдения требований промышленной и экологической безопасности.</li>
                                </ul>
                            </div>
                        </div>
                        <div class="about_development__item_front">
                            <div class="about_development__item_front_title">Экология и окружающая среда</div>
                            <div class="about_development__item_front_text">Вопросы сохранения климата во всем мире являются стратегически важными. ФГ «ДоГа» объективно оценивает и стремится минимизировать экологические риски и воздействие на окружающую среду, вкладывает значительные средства в природоохранные программы различных направлений.</div>
                            <img src="img/about/about_development/front_2.jpg" alt="">
                        </div>
                        <button class="about_development__item_btn js_about_development_item_btn">
                            <svg class="this--hide" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                                <path d="M12 6.5C15.79 6.5 19.17 8.63 20.82 12C19.17 15.37 15.79 17.5 12 17.5C8.21 17.5 4.83 15.37 3.18 12C4.83 8.63 8.21 6.5 12 6.5ZM12 4.5C7 4.5 2.73 7.61 1 12C2.73 16.39 7 19.5 12 19.5C17 19.5 21.27 16.39 23 12C21.27 7.61 17 4.5 12 4.5ZM12 9.5C13.38 9.5 14.5 10.62 14.5 12C14.5 13.38 13.38 14.5 12 14.5C10.62 14.5 9.5 13.38 9.5 12C9.5 10.62 10.62 9.5 12 9.5ZM12 7.5C9.52 7.5 7.5 9.52 7.5 12C7.5 14.48 9.52 16.5 12 16.5C14.48 16.5 16.5 14.48 16.5 12C16.5 9.52 14.48 7.5 12 7.5Z" fill="#32B4DC"/>
                            </svg>
                            <svg class="this--show" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                                <path d="M12 5.55C15.79 5.55 19.17 7.68 20.82 11.05C20.23 12.27 19.4 13.32 18.41 14.17L19.82 15.58C21.21 14.35 22.31 12.81 23 11.05C21.27 6.66 17 3.55 12 3.55C10.73 3.55 9.51 3.75 8.36 4.12L10.01 5.77C10.66 5.64 11.32 5.55 12 5.55ZM10.93 6.69L13 8.76C13.57 9.01 14.03 9.47 14.28 10.04L16.35 12.11C16.43 11.77 16.49 11.41 16.49 11.04C16.5 8.56 14.48 6.55 12 6.55C11.63 6.55 11.28 6.6 10.93 6.69ZM2.01 3.42L4.69 6.1C3.06 7.38 1.77 9.08 1 11.05C2.73 15.44 7 18.55 12 18.55C13.52 18.55 14.98 18.26 16.32 17.73L19.74 21.15L21.15 19.74L3.42 2L2.01 3.42ZM9.51 10.92L12.12 13.53C12.08 13.54 12.04 13.55 12 13.55C10.62 13.55 9.5 12.43 9.5 11.05C9.5 11 9.51 10.97 9.51 10.92ZM6.11 7.52L7.86 9.27C7.63 9.82 7.5 10.42 7.5 11.05C7.5 13.53 9.52 15.55 12 15.55C12.63 15.55 13.23 15.42 13.77 15.19L14.75 16.17C13.87 16.41 12.95 16.55 12 16.55C8.21 16.55 4.83 14.42 3.18 11.05C3.88 9.62 4.9 8.44 6.11 7.52Z" fill="#32B4DC"/>
                            </svg>
                        </button>
                    </div>
                    <div class="about_development__item js_about_development_item">
                        <div class="about_development__item_back">
                            <img src="img/about/about_development/back_3.jpg" alt="">
                            <div class="about_development__item_back_text"><p>Компания анализирует риски и принимает меры для исключения и минимизации производственного травматизма, аварий и инцидентов при эксплуатации опасных производственных объектов.</p>
                                <br>
                                <p>ФГ «ДоГа» осуществляет деятельность в области охраны труда и промышленной безопасности в соответствии с действующими законодательными и нормативными документами по охране труда Российской Федерации.</p></div>
                        </div>
                        <div class="about_development__item_front">
                            <div class="about_development__item_front_title">Производственная безопасность</div>
                            <div class="about_development__item_front_text">ФГ «ДоГа» в полной мере осознает, что его производственная деятельность, связанная с переработкой углеводородного сырья, является источником потенциальной опасности для окружающей среды, персонала и населения, проживающего в зонах влияния.</div>
                            <img src="img/about/about_development/front_3.jpg" alt="">
                        </div>
                        <button class="about_development__item_btn js_about_development_item_btn">
                            <svg class="this--hide" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                                <path d="M12 6.5C15.79 6.5 19.17 8.63 20.82 12C19.17 15.37 15.79 17.5 12 17.5C8.21 17.5 4.83 15.37 3.18 12C4.83 8.63 8.21 6.5 12 6.5ZM12 4.5C7 4.5 2.73 7.61 1 12C2.73 16.39 7 19.5 12 19.5C17 19.5 21.27 16.39 23 12C21.27 7.61 17 4.5 12 4.5ZM12 9.5C13.38 9.5 14.5 10.62 14.5 12C14.5 13.38 13.38 14.5 12 14.5C10.62 14.5 9.5 13.38 9.5 12C9.5 10.62 10.62 9.5 12 9.5ZM12 7.5C9.52 7.5 7.5 9.52 7.5 12C7.5 14.48 9.52 16.5 12 16.5C14.48 16.5 16.5 14.48 16.5 12C16.5 9.52 14.48 7.5 12 7.5Z" fill="#32B4DC"/>
                            </svg>
                            <svg class="this--show" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                                <path d="M12 5.55C15.79 5.55 19.17 7.68 20.82 11.05C20.23 12.27 19.4 13.32 18.41 14.17L19.82 15.58C21.21 14.35 22.31 12.81 23 11.05C21.27 6.66 17 3.55 12 3.55C10.73 3.55 9.51 3.75 8.36 4.12L10.01 5.77C10.66 5.64 11.32 5.55 12 5.55ZM10.93 6.69L13 8.76C13.57 9.01 14.03 9.47 14.28 10.04L16.35 12.11C16.43 11.77 16.49 11.41 16.49 11.04C16.5 8.56 14.48 6.55 12 6.55C11.63 6.55 11.28 6.6 10.93 6.69ZM2.01 3.42L4.69 6.1C3.06 7.38 1.77 9.08 1 11.05C2.73 15.44 7 18.55 12 18.55C13.52 18.55 14.98 18.26 16.32 17.73L19.74 21.15L21.15 19.74L3.42 2L2.01 3.42ZM9.51 10.92L12.12 13.53C12.08 13.54 12.04 13.55 12 13.55C10.62 13.55 9.5 12.43 9.5 11.05C9.5 11 9.51 10.97 9.51 10.92ZM6.11 7.52L7.86 9.27C7.63 9.82 7.5 10.42 7.5 11.05C7.5 13.53 9.52 15.55 12 15.55C12.63 15.55 13.23 15.42 13.77 15.19L14.75 16.17C13.87 16.41 12.95 16.55 12 16.55C8.21 16.55 4.83 14.42 3.18 11.05C3.88 9.62 4.9 8.44 6.11 7.52Z" fill="#32B4DC"/>
                            </svg>
                        </button>
                    </div>
                    <div class="about_development__item js_about_development_item">
                        <div class="about_development__item_back">
                            <img src="img/about/about_development/back_4.jpg" alt="">
                            <div class="about_development__item_back_text">
                                <p>В компании уверены, что личностный и профессиональный рост членов команды гарантирует их полноценный вклад в достижение общих целей.</p>
                                <br>
                                <p>Конкретные шаги, направленные на поддержание творческой атмосферы:</p>
                                <ul>
                                    <li>- четко проработанная и прозрачная система поощрение сотрудников, продвигающих персональные проекты и формирование самомотивации;</li>
                                    <li>- обучение сотрудников профессиональным навыкам, лидерству, личной эффективности и настройка на успешность;</li>
                                    <li>- отсутствие строгого контроля при полном понимании текущего положения дел;</li>
                                    <li>- развитие внутренних коммуникаций, своевременное информирование сотрудников о ключевых изменениях, проектах и событиях, происходящих в компании;</li>
                                    <li>- разработка, обновление и контроль различных норм и правил, касающиеся охраны окружающей среды, обеспечения здоровья и безопасности на рабочем месте.</li>
                                    <li>- проведение спортивных мероприятий, экскурсий, турпоездок, совместного досуга.</li>
                                </ul>
                            </div>
                        </div>
                        <div class="about_development__item_front">
                            <div class="about_development__item_front_title">Корпоративная среда</div>
                            <div class="about_development__item_front_text">Корпоративная среда является важным компонентом организационного успеха, поскольку она формирует то, как люди работают вместе для достижения общих целей и может оказать значительное влияние на удовлетворенность сотрудников и их производительность.</div>
                            <img src="img/about/about_development/front_4.jpg" alt="">
                        </div>
                        <button class="about_development__item_btn js_about_development_item_btn">
                            <svg class="this--hide" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                                <path d="M12 6.5C15.79 6.5 19.17 8.63 20.82 12C19.17 15.37 15.79 17.5 12 17.5C8.21 17.5 4.83 15.37 3.18 12C4.83 8.63 8.21 6.5 12 6.5ZM12 4.5C7 4.5 2.73 7.61 1 12C2.73 16.39 7 19.5 12 19.5C17 19.5 21.27 16.39 23 12C21.27 7.61 17 4.5 12 4.5ZM12 9.5C13.38 9.5 14.5 10.62 14.5 12C14.5 13.38 13.38 14.5 12 14.5C10.62 14.5 9.5 13.38 9.5 12C9.5 10.62 10.62 9.5 12 9.5ZM12 7.5C9.52 7.5 7.5 9.52 7.5 12C7.5 14.48 9.52 16.5 12 16.5C14.48 16.5 16.5 14.48 16.5 12C16.5 9.52 14.48 7.5 12 7.5Z" fill="#32B4DC"/>
                            </svg>
                            <svg class="this--show" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                                <path d="M12 5.55C15.79 5.55 19.17 7.68 20.82 11.05C20.23 12.27 19.4 13.32 18.41 14.17L19.82 15.58C21.21 14.35 22.31 12.81 23 11.05C21.27 6.66 17 3.55 12 3.55C10.73 3.55 9.51 3.75 8.36 4.12L10.01 5.77C10.66 5.64 11.32 5.55 12 5.55ZM10.93 6.69L13 8.76C13.57 9.01 14.03 9.47 14.28 10.04L16.35 12.11C16.43 11.77 16.49 11.41 16.49 11.04C16.5 8.56 14.48 6.55 12 6.55C11.63 6.55 11.28 6.6 10.93 6.69ZM2.01 3.42L4.69 6.1C3.06 7.38 1.77 9.08 1 11.05C2.73 15.44 7 18.55 12 18.55C13.52 18.55 14.98 18.26 16.32 17.73L19.74 21.15L21.15 19.74L3.42 2L2.01 3.42ZM9.51 10.92L12.12 13.53C12.08 13.54 12.04 13.55 12 13.55C10.62 13.55 9.5 12.43 9.5 11.05C9.5 11 9.51 10.97 9.51 10.92ZM6.11 7.52L7.86 9.27C7.63 9.82 7.5 10.42 7.5 11.05C7.5 13.53 9.52 15.55 12 15.55C12.63 15.55 13.23 15.42 13.77 15.19L14.75 16.17C13.87 16.41 12.95 16.55 12 16.55C8.21 16.55 4.83 14.42 3.18 11.05C3.88 9.62 4.9 8.44 6.11 7.52Z" fill="#32B4DC"/>
                            </svg>
                        </button>
                    </div>
                    <div class="about_development__item js_about_development_item">
                        <div class="about_development__item_back">
                            <img src="img/about/about_development/back_5.jpg" alt="">
                            <div class="about_development__item_back_text">
                                <p>Признаком стабильной работы предприятий является формирование социальной среды - предоставление работникам социальных гарантий и льгот. Уровень социальных льгот, гарантий и компенсаций оговаривается в коллективном договоре.</p>
                                <br>
                                <p>ФГ «ДоГа» активно взаимодействует с государственными и общественными объединениями, выполняет обязательства в рамках соглашений о социально-экономическом сотрудничестве с региональными властями, участвует в работе общественных советов.</p>
                                <br>
                                <p>Социальная политика компании реализуется на системной основе в соответствии с утвержденными нормативными документами в нескольких сферах:</p>
                                <ul>
                                    <li>- постоянное улучшение социально-бытовых условий на производстве;</li>
                                    <li>- развитие системы охраны здоровья персонала;</li>
                                    <li>- санаторно-курортное оздоровление и развитие здорового образа жизни.</li>
                                </ul>
                            </div>
                        </div>
                        <div class="about_development__item_front">
                            <div class="about_development__item_front_title">Социальная среда</div>
                            <div class="about_development__item_front_text">ФГ «ДоГа» разделяет принципы социальной ответственности, которые приняты в большинстве развитых стран и стремится применять их на практике во всех сферах своей деятельности.</div>
                            <img src="img/about/about_development/front_5.jpg" alt="">
                        </div>
                        <button class="about_development__item_btn js_about_development_item_btn">
                            <svg class="this--hide" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                                <path d="M12 6.5C15.79 6.5 19.17 8.63 20.82 12C19.17 15.37 15.79 17.5 12 17.5C8.21 17.5 4.83 15.37 3.18 12C4.83 8.63 8.21 6.5 12 6.5ZM12 4.5C7 4.5 2.73 7.61 1 12C2.73 16.39 7 19.5 12 19.5C17 19.5 21.27 16.39 23 12C21.27 7.61 17 4.5 12 4.5ZM12 9.5C13.38 9.5 14.5 10.62 14.5 12C14.5 13.38 13.38 14.5 12 14.5C10.62 14.5 9.5 13.38 9.5 12C9.5 10.62 10.62 9.5 12 9.5ZM12 7.5C9.52 7.5 7.5 9.52 7.5 12C7.5 14.48 9.52 16.5 12 16.5C14.48 16.5 16.5 14.48 16.5 12C16.5 9.52 14.48 7.5 12 7.5Z" fill="#32B4DC"/>
                            </svg>
                            <svg class="this--show" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                                <path d="M12 5.55C15.79 5.55 19.17 7.68 20.82 11.05C20.23 12.27 19.4 13.32 18.41 14.17L19.82 15.58C21.21 14.35 22.31 12.81 23 11.05C21.27 6.66 17 3.55 12 3.55C10.73 3.55 9.51 3.75 8.36 4.12L10.01 5.77C10.66 5.64 11.32 5.55 12 5.55ZM10.93 6.69L13 8.76C13.57 9.01 14.03 9.47 14.28 10.04L16.35 12.11C16.43 11.77 16.49 11.41 16.49 11.04C16.5 8.56 14.48 6.55 12 6.55C11.63 6.55 11.28 6.6 10.93 6.69ZM2.01 3.42L4.69 6.1C3.06 7.38 1.77 9.08 1 11.05C2.73 15.44 7 18.55 12 18.55C13.52 18.55 14.98 18.26 16.32 17.73L19.74 21.15L21.15 19.74L3.42 2L2.01 3.42ZM9.51 10.92L12.12 13.53C12.08 13.54 12.04 13.55 12 13.55C10.62 13.55 9.5 12.43 9.5 11.05C9.5 11 9.51 10.97 9.51 10.92ZM6.11 7.52L7.86 9.27C7.63 9.82 7.5 10.42 7.5 11.05C7.5 13.53 9.52 15.55 12 15.55C12.63 15.55 13.23 15.42 13.77 15.19L14.75 16.17C13.87 16.41 12.95 16.55 12 16.55C8.21 16.55 4.83 14.42 3.18 11.05C3.88 9.62 4.9 8.44 6.11 7.52Z" fill="#32B4DC"/>
                            </svg>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>