<section class="contacts_form_success">
    <img class="contacts_form_success__img_left" src="img/contacts/success_img_left.png" alt="">
    <img class="contacts_form_success__img_right" src="img/contacts/success_img_right.png" alt="">
    <div class="container">
        <div class="contacts_form_success__content">
            <div class="contacts_form_success__body">
                <div class="contacts_form_success__check">
                    <img src="img/contacts/check.png" alt="">
                </div>
                <h1 class="contacts_form_success__title">Cпасибо за заявку</h1>
                <div class="contacts_form_success__text">Наш менеджер с вами свяжется
                    в ближайшее время</div>
                <a href="#" class="contacts_form_success__link btn this--base this--large">Продолжить</a>
            </div>
        </div>
    </div>
</section>