<section class="about_mission">
    <div class="container">
        <div class="about_mission__content">
            <div class="about_mission__left">
                <div class="about_mission__tag">Наша миссия</div>
                <div class="about_mission__left_slider_wr">
                    <div class="about_mission__left_slider_pagination"></div>
                    <div class="about_mission__left_slider swiper-container js_mission_text_slider">
                        <div class="about_mission__left_slider_wrapper swiper-wrapper">
                            <div class="about_mission__left_slider_slide swiper-slide">
                                <div class="about_mission__left_slider_title h1_title">Миссия</div>
                                <div class="about_mission__left_slider_text">
                                    Реализовать до 2025 года масштабный приоритетный инвестиционный проект «Строительство установки по переработке углеводородных газов в ароматические углеводороды» и сформировать компанию нового поколения, стать ориентиром для других производителей малотоннажной химии по эффективности, технологичности и экологической безопасности.
                                </div>
                            </div>
                            <div class="about_mission__left_slider_slide swiper-slide">
                                <div class="about_mission__left_slider_title h1_title">Миссия</div>
                                <div class="about_mission__left_slider_text">
                                    Производство экспортно-ориентированной нефтехимической продукции с высокой добавленной стоимостью по инновационной отечественной технологии.
                                </div>
                            </div>
                            <div class="about_mission__left_slider_slide swiper-slide">
                                <div class="about_mission__left_slider_title h1_title">Миссия</div>
                                <div class="about_mission__left_slider_text">
                                    Создание команды профессионалов и изучение последних инноваций в своей области для поставки нефтехимической продукции высочайшего качества для своих клиентов.
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="about_mission__left_slider_btns">
                        <div class="about_mission__left_slider_prev icon_btn this--large this--secondary this--fill this--wh">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                                <path d="M14.9424 16.115L14.0574 17L9.05738 12L14.0574 7L14.9424 7.885L10.8274 12L14.9424 16.115Z" fill="white"/>
                            </svg>
                        </div>
                        <div class="about_mission__left_slider_next icon_btn this--large this--base this--black this--fill">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                                <path d="M9 7.885L9.885 7L14.885 12L9.885 17L9 16.115L13.115 12L9 7.885Z" fill="white"></path>
                            </svg>
                        </div>
                    </div>
                </div>
            </div>
            <div class="about_mission__right">
                <div class="about_mission__right_slider swiper-container js_mission_img_slider">
                    <div class="about_mission__right_slider_wrapper swiper-wrapper">
                        <div class="about_mission__right_slider_slide swiper-slide">
                            <div class="about_mission__right_slider_img">
                                <img src="img/about/about_mission/img_1.jpg" alt="">
                            </div>
                        </div>
                        <div class="about_mission__right_slider_slide swiper-slide">
                            <div class="about_mission__right_slider_img">
                                <img src="img/about/about_mission/img_2.jpg" alt="">
                            </div>
                        </div>
                        <div class="about_mission__right_slider_slide swiper-slide">
                            <div class="about_mission__right_slider_img">
                                <img src="img/about/about_mission/img_3.jpg" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>