<section class="main_full_img">
    <div class="main_full_img__wrapper_img">
        <svg class="main_full_img__wrapper_img_svg this--desktop" width="1920" height="446" viewBox="0 0 1920 446" fill="none" xmlns="http://www.w3.org/2000/svg">
            <g clip-path="url(#clip0_927_4172)">
                <path class="svg_bg" d="M971.5 181L680 135V446H0V0H1920L971.5 181Z" fill="white"/>
                <path d="M1920 289L971.5 446L0 286.038V446H971.5H1920V289Z" fill="#32B4DC"/>
            </g>
            <defs>
                <clipPath id="clip0_927_4172">
                    <rect width="1920" height="446" fill="white"/>
                </clipPath>
            </defs>
        </svg>
        <svg class="main_full_img__wrapper_img_svg this--mobile" width="375" height="127" viewBox="0 0 375 127" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path class="svg_bg" d="M192 33.5L107 18.5V127H0V0H375L192 33.5Z" fill="white"/>
            <path d="M375 96L192 126.5L0 92.5V127H375V96Z" fill="#32B4DC"/>
        </svg>
        <div class="main_full_img__wrapper_img_container">
            <div class="main_full_img__wrapper_img_img">
                <img uk-parallax="y: -150" src="img/main/main_top/img_1.jpg" alt="">
            </div>
        </div>
    </div>
</section>