.contacts_map_section {
  height: 600px;
  position: relative;
  overflow: hidden;
  @media ($tablet) {
    height: 491px;
  }
  .container {
    height: 100%;
  }
}
.contacts_map {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

ymaps[class*=ground-pane]{
  -webkit-filter: grayscale(100%);
}
.contacts_map__route {
  position: absolute;
  bottom: 57px;
  left: calc((100vw - 1640px) / 2);

  @media (max-width: 1662px) {
    left: 30px;
  }

  @media ($tablet3) {
    left: 24px;
  }
  @media ($mobile) {
    width: calc(100% - 49px);
  }
}
.contacts_map__zoom_items {
  position: absolute;
  top: 493px;
  right: calc((100vw - 1640px) / 2);
  display: flex;
  z-index: 2;
  align-items: center;
  width: 124px;
  justify-content: space-between;
  @media (max-width: 1662px) {
    right: 30px;
  }
  @media ($tablet) {
    display: none;
  }
}
.contacts_map__zoom.icon_btn {
  &.this--minus {
    background: #ffffff;

    svg {
      path {
        stroke-opacity: 1;
      }
    }
  }
}