<section class="tender_table">
    <div class="container">
        <div class="tender_table__content">
            <h2 class="tender_table__title h2_title">Актуальные конкурсы:</h2>
            <div class="tender_table__search">
                <input type="text" class="tender_table__search_input js_tender_search_input" placeholder="Поиск по таблице.....">
                <button class="tender_table__search_clear jc_tender_search_clear"></button>
            </div>
            <div class="tender_table__table_wr">
                <div class="tender_table__table trading-list"></div>
            </div>
        </div>
    </div>
</section>