<section class="main_top">
    <div class="container">
        <div class="main_top__content">
            <h1 class="main_top__title h1_title">Инновационное производство</h1>
            <ul class="main_top__list">
                <li>- базовых ароматических углевородов<br> (бензол, толуол, ксилолы)
                </li>
                <li>
                    - уникальная технология получения ароматических  углеводородов высокой чистоты из легкой фракции углеводородов с каталитического крекинга
                </li>
            </ul>
            <a href="#about" class="main_top__btn icon_btn this--large this--base this--fill">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                    <path d="M16.115 8.99976L17 9.88476L12 14.8848L7 9.88476L7.885 8.99976L12 13.1148L16.115 8.99976Z" fill="white"/>
                </svg>
            </a>
        </div>
    </div>
    <div class="main_top__wrapper_img_right">
        <svg class="main_top__wrapper_img_svg this--desktop" width="1046" height="802" viewBox="0 0 1046 802" fill="none" xmlns="http://www.w3.org/2000/svg">
            <g clip-path="url(#clip0_905_4991)">
                <path class="svg_bg" d="M588 238.168V627.223L1023.51 802L0 802V376.924L570 619V234.494L0 0H1046V410.686L1023.51 421.603L588 238.168Z" fill="white"/>
                <path class="svg_bg" d="M1046 792.121V802L1023.51 802L1046 792.121Z" fill="white"/>
                <path d="M588 627.223V238.168L1023.51 421.603L1894 -1V419.563L1023.51 802L588 627.223Z" fill="#32B4DC"/>
            </g>
            <defs>
                <clipPath id="clip0_905_4991">
                    <rect width="1046" height="802" fill="white"/>
                </clipPath>
            </defs>
        </svg>
        <svg class="main_top__wrapper_img_svg this--mobile" width="355" height="301" viewBox="0 0 355 301" fill="none" xmlns="http://www.w3.org/2000/svg">
            <g clip-path="url(#clip0_905_5691)">
                <path class="svg_bg" d="M255 88.9353V261L0 152.672V301H355V0H38.8811L255 88.9353Z" fill="white"/>
                <path d="M264 264.079V90.6279L355 128.907V300.552L264 264.079Z" fill="#32B4DC"/>
            </g>
            <defs>
                <clipPath id="clip0_905_5691">
                    <rect width="355" height="301" fill="white"/>
                </clipPath>
            </defs>
        </svg>
        <div class="main_top__wrapper_img_right_img_container">
            <div class="main_top__wrapper_img_right_img">
                <img uk-parallax="y: -200" src="img/main/main_top/img_1.jpg" alt="">
            </div>
        </div>
    </div>
    <div class="main_top__wrapper_img_left">
        <svg class="main_top__wrapper_img_svg this--desktop" width="977" height="992" viewBox="0 0 977 992" fill="none" xmlns="http://www.w3.org/2000/svg">
            <g clip-path="url(#clip0_905_4999)">
                <path class="svg_bg" d="M977 0H0V583.187L369.313 405L977 698.5V0Z" fill="white"/>
                <path class="svg_bg" d="M0 867.956V992H977L369.313 698.5L0 867.956Z" fill="white"/>
                <path opacity="0.4" d="M0 178.711L366.811 1L972 274.5V588L366.811 294.5L0 463.503" stroke="#82919B"/>
            </g>
            <defs>
                <clipPath id="clip0_905_4999">
                    <rect width="977" height="992" fill="white"/>
                </clipPath>
            </defs>
        </svg>
        <svg class="main_top__wrapper_img_svg this--mobile" width="375" height="431" viewBox="0 0 375 431" fill="none" xmlns="http://www.w3.org/2000/svg">
            <g clip-path="url(#clip0_905_5685)">
                <path class="svg_bg" d="M375 0H0V208.648L103.14 159L375 288.5V0Z" fill="white"/>
                <path class="svg_bg" d="M375 430.5L103.14 290L0 337.216V431H375V430.5Z" fill="white"/>
                <path opacity="0.2" d="M0 50.9739L103.639 1L374 122.607V262L103.639 131.5L0 179.025" stroke="#82919B"/>
            </g>
            <defs>
                <clipPath id="clip0_905_5685">
                    <rect width="375" height="431" fill="white"/>
                </clipPath>
            </defs>
        </svg>

        <div class="main_top__wrapper_img_left_img_container">
            <div class="main_top__wrapper_img_left_img">
                <img uk-parallax="y: -150" src="img/main/main_top/img_1.jpg" alt="">
            </div>
        </div>
    </div>
</section>