<section class="about_history">
    <div class="container">
        <div class="about_history__content">
            <div class="about_history__left">
                <h2 class="about_history__title h1_title">
                    История компании
                </h2>
            </div>
            <div class="about_history__right">
                <div class="about_history__items">
                    <div class="about_history__item">
                        <div class="about_history__item_title">Основание</div>
                        <div class="about_history__item_text">Финансовая группа «Дога» организованна в 2015 году для реализации масштабного приоритетного инвестиционного проекта «Строительство установки по переработке углеводородных газов в ароматические углеводороды» на территории особой экономической зоны промышленно-производственного типа «Алга».</div>
                    </div>
                    <div class="about_history__item">
                        <div class="about_history__item_title">Инвестиции</div>
                        <div class="about_history__item_text">Общая стоимость инвестиционного проекта составляет 4,8 млрд руб. Производство обеспечит свыше 117 рабочих мест.</div>
                    </div>
                    <div class="about_history__item">
                        <div class="about_history__item_title">Льготный заём</div>
                        <div class="about_history__item_text">В 2023 году ФГ «ДоГа» получила от Фонда развития промышленности (ФРП) льготный заем по программе «Приоритетные проекты» в размере 2 млрд руб.</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>